@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,900&display=swap');

html {
    margin: 0;
    width: 100%;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Noto Sans', Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

main {
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.main-header {
    background-color: #3f4fe6;
    height: 8vh;
    padding: 0.5rem 1rem;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    box-sizing: border-box;
    z-index: 2;
    display: --webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.toggle-button {
    width: 3rem;
    background: transparent;
    border: none;
    cursor: pointer;
    padding-top: 0;
    padding-bottom: 0;
    vertical-align: middle;

    &:focus {
        outline: none;
    }
    @media (min-width: 40rem) {
        display: none;
    }
}

.toggle-button__bar {
    width: 100%;
    height: 0.2rem;
    background: black;
    display: block;
    margin: 0.6rem 0;
}

.main-nav {
    display: none;
    @media (min-width: 40rem) {
        display: block;
    }
}

.main-header__brand {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 1.5rem;
    vertical-align: middle;
}

.main-nav__items {
    margin: 0;
    padding: 0;
    padding-right: 1rem;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.main-nav__item {
    padding-left: 1rem;
}

.backdrop {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}

.mobile-nav {
    display: none;
    position: fixed;
    z-index: 101;
    top: 0;
    left: 0;
    background: #fff;
    width: 80%;
    height: 100vh;
    animation: moveToRight 200ms ease-in-out;
}

.mobile-nav__items {
    width: 90%;
    height: 100%;
    list-style: none;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mobile-nav__item {
    padding-left: 0.5rem;
    padding-bottom: 0.5rem;
    a {
        text-decoration: none;
        color: #1f70f2;
        padding-bottom: 0.5rem;
        font-size: 1.5rem;
    }
}

.title {
    padding: 1rem;
    margin: 0 auto;
    margin-top: 8vh;
    width: 100%;
    text-align: center;
    background-color: #6c36d1;
    color: white;
}

.password_list {
    display: block;
}

.password_list_items {
    display: grid;
    width: 100%;
    border-bottom: 1px solid #ccc;
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
}

.password_list_item {
    padding: 0.25rem 0.5rem;
    margin: 0.5rem auto;
}

.details {
    margin: 0 auto;
    margin-top: 4.5rem;
    text-align: center;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    box-shadow: 5px 2px 2px 5px #ccc;
}

.details__edit {
    background-color: #3be294;
    border-color: #3be294;
    width: 40%;
    margin: auto;
    border-radius: 5px;
    padding: 0.5rem;
    a {
        text-decoration: none;
        color: white;
    }
}

.form {
    padding-top: 1.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    width: 66%;
    margin: auto;
    label {
        padding: 0.5rem 0;
        font-weight: bold;
    }
    input {
        border-radius: 2px;
        border-color: #ccc;
    }

    button {
        grid-column-start: 2;
        grid-column-end: 3;
        margin: auto;
        width: 40%;
    }
}

#password_list_item__show {
    padding: 0.25rem 1rem;
    text-decoration: none;
    border: 1px solid #3be294;
    border-radius: 5px;
    background-color: #3be294;
    color: #fff;
}

@keyframes moveToRight {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}
